<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/useruploads/news" method="post" enctype="multipart/form-data">
        <input type="text" name="first_name" value="" placeholder="enter name of product"/>
        <input type="text" name="last_name" value="" placeholder="enter number"/>
        <input type="file" name="profile_pic" value="" placeholder="enter number"/>
        <input type="submit" />
    </form>
</body>
</html>